/* Darius Dictionary Colorizer
 * The latest version can be found at
 * https://github.com/themoeway/yomichan-dict-css
 */

:root {
  /* Change this opacity to 0% if you don't want backgrounds to change.
   * Or increase it if you want them to change more. 
   */
  --dict-color-opacity: 100%;
  --dict-color: var(--tag-dictionary-background-color);
  --dict-bg-opacity: 0;
}

.definition-item {
  background-color: color-mix(
    in srgb,
    var(--dict-color) calc(var(--dict-bg-opacity) * var(--dict-color-opacity)),
    var(--background-color)
  );
  --tag-dictionary-background-color: var(--dict-color);
}

/* Japanese Dicts */

.definition-item[data-dictionary^="旺文社国語辞典"] {
  --dict-color: rgb(187, 255, 255);
  --dict-bg-opacity: 0.06;
  --tag-text-color: black;
}
.definition-item[data-dictionary^="明鏡国語辞典"] {
  --dict-color: rgb(51, 51, 221);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary^="岩波国語辞"] {
  --dict-color: rgb(51, 85, 51);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary*="新明解"] {
  --dict-color: rgb(255, 0, 0);
  --dict-bg-opacity: 0.025;
}
.definition-item[data-dictionary^="大辞林"] {
  --dict-color: rgb(85, 34, 85);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary="デジタル大辞泉"] {
  --dict-color: rgb(170, 0, 0);
  --dict-bg-opacity: 0.04;
}
.definition-item[data-dictionary="精選版　日本国語大辞典"] {
  --dict-color: rgb(238, 238, 204);
  --dict-bg-opacity: 0.05;
  --tag-text-color: black;
}
.definition-item[data-dictionary="ハイブリッド新辞林"] {
  --dict-color: rgb(221, 221, 238);
  --dict-bg-opacity: 0.15;
  --tag-text-color: black;
}
.definition-item[data-dictionary^="広辞苑"] {
  --dict-color: rgb(51, 51, 51);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="四字熟語辞典オンライン"],
.definition-item[data-dictionary="故事・ことわざ・慣用句オンライン"],
.definition-item[data-dictionary="国語辞典オンライン"] {
  --dict-color: rgb(255, 227, 124);
  --dict-bg-opacity: 0.05;
  --tag-text-color: black;
}
.definition-item[data-dictionary="実用日本語表現辞典"] {
  --dict-color: rgb(99, 108, 141);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary^="三省堂国語辞典"] {
  --dict-color: rgb(229, 107, 57);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary^="JMdict"],
.definition-item[data-dictionary^="JMDict"],
.definition-item[data-dictionary^="JMnedict"] {
  --dict-color: rgb(0, 132, 255);
  --dict-bg-opacity: 0.02;
}
.definition-item[data-dictionary="NEW斎藤和英大辞典"] {
  --dict-color: rgb(244, 225, 254);
  --dict-bg-opacity: 0.15;
  --tag-text-color: black;
}
.definition-item[data-dictionary="新和英"] {
  --dict-color: rgb(21, 70, 51);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary^="Pixiv"] {
  --dict-color: rgb(0, 151, 250);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary="漢字源"] {
  --dict-color: rgb(201, 149, 93);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="日本語俗語辞書"] {
  --dict-color: rgb(176, 4, 157);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="weblio古語辞典"] {
  --dict-color: rgb(193, 123, 148);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="語源由来辞典"] {
  --dict-color: rgb(206, 169, 47);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="学研 四字熟語辞典"] {
  --dict-color: rgb(180, 192, 152);
  --dict-bg-opacity: 0.08;
  --tag-text-color: black;
}
.definition-item[data-dictionary="故事ことわざの辞典"] {
  --dict-color: rgb(117, 87, 85);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary^="日本語文法辞典"] {
  --dict-color: rgb(23, 59, 173);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="絵でわかる日本語"] {
  --dict-color: rgb(207, 76, 110);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="JLPT文法解説まとめ"] {
  --dict-color: rgb(244, 66, 54);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="どんなときどう使う 日本語表現文型辞典"] {
  --dict-color: rgb(126, 168, 232);
  --dict-bg-opacity: 0.08;
}
.definition-item[data-dictionary="毎日のんびり日本語教師"] {
  --dict-color: rgb(255, 216, 228);
  --dict-bg-opacity: 0.12;
  --tag-text-color: black;
}

/* Chinese Dicts */

/* also covers Canto CEDICT */
.definition-item[data-dictionary*="CEDICT"] {
  --dict-color: rgb(32, 48, 64);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary^="中日大辞典"] {
  --dict-color: rgb(223, 72, 79);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="漢語大詞典"] {
  --dict-color: rgb(160, 19, 23);
  --dict-bg-opacity: 0.05;
}
/* also 萌典国语辞典 */
.definition-item[data-dictionary^="萌典"] {
  --dict-color: rgb(255, 221, 212);
  --dict-bg-opacity: 0.12;
  --tag-text-color: black;
}
.definition-item[data-dictionary="兩岸詞典"] {
  --dict-color: rgb(62, 94, 143);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="牛津英汉汉英词典"] {
  --dict-color: rgb(15, 58, 124);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="五南國語活用辭典"] {
  --dict-color: rgb(251, 150, 60);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="譯典通英漢雙向字典"] {
  --dict-color: rgb(172, 76, 77);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="现代汉语规范词典"] {
  --dict-color: rgb(232, 25, 15);
  --dict-bg-opacity: 0.03;
}
.definition-item[data-dictionary="CantoDict"] {
  --dict-color: rgb(203, 255, 212);
  --dict-bg-opacity: 0.1;
  --tag-text-color: black;
}
.definition-item[data-dictionary^="Words.hk"] {
  --dict-color: rgb(96, 104, 112);
  --dict-bg-opacity: 0.05;
}
.definition-item[data-dictionary="CE Wiktionary"] {
  --dict-color: rgb(235, 206, 161);
  --dict-bg-opacity: 0.05;
  --tag-text-color: black;
}
.definition-item[data-dictionary="CC-Canto"] {
  --dict-color: rgb(34, 34, 34);
  --dict-bg-opacity: 0.03;
}

/* End Dictionary Colorizer */
